/* @import url('../assets/fonts/Ubuntu-Medium.ttf'); */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body, html{
    font-family: 'Ubuntu' , sans-serif !important;
    min-width: 350px !important;
    max-height: 1080px;
    
}


.inputMain{
    margin-top: 150px;
}

.logo{
    font-family: 'Press Start 2P', cursive !important;
}

.avatar_icon{
    height: 60px;
}

.link_Img-Profile{
    width:35px !important ; height: 35px !important ; 
    object-fit: cover;
    object-position: center;
}

.imgInMessage{
    object-fit: cover; max-width: 200px;
}

@media (max-width:768px){
    .imgInMessage{
        object-fit: cover; max-width: 200px !important;

    }
}

.page_profile-img{
    border-radius: 50% !important;
    width: 90px !important; height: 90px !important;  object-fit: cover; object-position: center;
}

.profile_img{
    border-radius: 50% !important;
    width: 90px !important; height: 90px !important; 
}

.client_img{
    border-radius: 50% !important;
    min-width: 90px !important; height: 90px !important; 
}


.fa-upload-icon-client {
    position: absolute; left:42% !important;top: 40%;
}

.fa-edit-icon{
    position: absolute; right: -50px !important; top: 0px; 
}

.fa-upload-chat{
    top:54.5px  !important;
    left: calc(50% - 8px);
}

.fa-upload-icon{
    position: absolute; left:37px !important;top: 40%;
}

.page_project-delete{
    top: 5px; right: 20px;
    
}

.page_client-chat{
    height: 350px !important;
}

.delete:hover{
    text-decoration: underline !important;
}

.message_ellips{
    transform: rotate(90deg);
}

.iconHelp{
    bottom: 0;
}

.img{
    object-fit: cover; object-position: center; 
}

.avatar_icon > img{
    object-fit: cover; object-position: center;
}

.avatar_icon::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    display: block;
    bottom: 15px;
    left: 0px;
    width: 14px;
    height: 14px;
    background-color: #3284FF;
}

.avatar_icon-mob::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 14px;
    height: 14px;
    background-color: #3284FF;
}

.spinner_block-chatMain{
    text-align: center;
    
}



.fa-paperclip-icon{
    position: relative; left: 0;
    
    margin-right: 5px;

}



.chat_name{
    min-width: 150px;
    height: 20px !important;
    font-weight: bold !important
}



.cardLink{
    height: 200px !important;
}

.cardLink i{
    display: none;
}
.cardLink:hover i {
    display: block;
}

.setting_block:not(:first-child){
    margin-top: 105px !important;
}

.block_fixed{
    height: 100vh !important; position: fixed !important;  
}

.project_set-sticky{
    position: sticky; top: 0; z-index: 10;
}

.position-fixed{
    z-index: 10 !important;
}

.position-unset{
    position: unset !important;
}

.point{
    cursor: pointer;
}

.main_block-height{
    height: 100vh !important;
}

@media (min-width:768px) and (max-width:992px){
    .page_main{
        box-sizing: border-box;
        max-width: calc(100% - 70px ) !important; 

    }
    
    .left_sidebar{
        max-width: 70px !important;
    }
}

@media  (min-width:993px){
    .page_main{
        box-sizing: border-box;
        max-width: calc(100% - 90px ) !important; 

    }
    
    .left_sidebar{
        max-width: 90px !important;
    }
}

.nav_height{
    height: 6% !important; 
}

.page_chat-height{
    height: 94% !important;
}

.chat-col{
    height: 100% !important;
    padding-bottom: 0;
}
.messages{
    height:94% !important
}

.write_first button{
    white-space: nowrap;
}

.write_first{
    height: 6% !important;
    padding-left:  10px !important;
    padding-right:  10px !important;
    
}

.write_first > i{
    font-size: 25px;
    top:10px;
    left: calc(50% - 12.5px);

    color: #007BFF !important;
}



.nav_height > div{
    z-index: 30 !important;
}

.nav_item-help{
    bottom: 0;
}

.opac-6{
    opacity: .6;
}



.chat-list{
    min-width: 85px;
}

.spinner_chat{
    bottom: 0  ;
    right: 0 !important;
}

.spinner_block{
    height: 20px;
}

.chat-list a{
    text-decoration: none !important;
}

.chat_avatar-lg{
    width: 125px; object-fit: cover; height: 125px;
}

.chat_with:hover .chat_ellips {
    display: block !important;
}


@media (max-width:992px){
    .chat_with:hover .chat_ellips {
        display: none !important;
    }
}

.chat_ellips {
    width: 25px;
    height: 12px;
    z-index: 99;
    top: 27px;
    right: 5px;
    
}

.chat_ellips i{
    top: 0px;
    right: 10px;
    transform: rotate(90deg);
}

.message:not(.chat_message-img){
    background: #F6F6F6 ;
}


.myMessage-avatar{
    order: 2;
    margin-left: 15px;
    cursor: pointer;
}

.message-avatar{
    cursor: pointer;
    margin-right: 15px;
}

.chat_message-text, .chat_message-file {
    width: max-content  !important;
}

.chat_message-file, .chat_message-text, .chat_message-img{

    padding: 18px 10px  !important;
    
}

.custom-control-label{
    cursor: pointer !important;
}

.message:hover .message_settings-my, .message:hover .message_settings, .message:hover .time_message{
    visibility: visible;
}


.time_message{

    /* visibility: hidden; */
    position: absolute !important;
    display: none;
    top: 0;
    font-size: 12px;
    font-weight: bold;
}

.message_settings-my {
    cursor: pointer;
    visibility: hidden;
    top: 5px;
    left: 10px;

    font-size: 20px;
}

.message_settings{
    visibility: hidden;
    cursor: pointer;
    top: 5px;
    right: 10px;
    font-size: 20px;
}

.table_remove-items{
    cursor: pointer;
}

.chat_message-img{
    
    /* height: 100px !important; */
    /* width: 250px !important;  */
    width: max-content  !important;
}

.overScroll-x{
    overflow-x: scroll !important;

}


.overScroll-x::-webkit-scrollbar{
    height:  3px !important;

}

.fa-address-card {
    font-size: 30px;
}

.overScroll-x::-webkit-scrollbar-track{
    background-color: white !important;
}

.overScroll-x::-webkit-scrollbar-thumb{
    background-color: #AFAFAF;
    border-radius: 8px !important;
}

.overScroll{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.overScroll::-webkit-scrollbar{
    width: 3px !important;
}

.overScroll::-webkit-scrollbar-track{
    background-color: white;
}

.overScroll::-webkit-scrollbar-thumb{
    background-color: #007BFF;
    border-radius: 8px;
}



.crossChannel{
    display: none;
    top: 2px;
    right: 5px;

}

.chat_main{
    height: 93% !important;
    
}


.channel-item:hover > .crossChannel, .Integration-item:hover > .crossChannel {
    display: block !important;
}

.note > i{
    display: none;
    top: 1px;
    right: 2px;
}

.note:hover > i{
    display: block !important;
}

.b-box{
    box-sizing: border-box;
}

.overFlow{
    overflow: hidden;
}

.navbar-collapse{
    z-index: 20;
}

.chats_mobile{
    color: #8B8B8B !important;
    position: absolute;
    width: 30px !important;padding-left: 15px !important;
    font-size: 50px ;
    cursor: pointer;
    left: 5px;
    top: 0px;
    z-index: 30;
    transform: rotate(180deg);
}

.contact_active{
    border-radius: 3px;
    background-color: #EDEEF0;
}

.input_message{
    background-color: white;
    border-top: 1px solid #DEE2E6;
    z-index: 20;
    height: 7% !important;
    bottom:0;
    max-width: inherit;
    width: 100%;
}


.icon_input{
    color: #8B8B8B;
    font-size: 20px;
}

.sidebar_mobile-hide{
    transition: left 1s ease;
    position: absolute;
    left:-200px;
    display: block !important;
    height: 400px !important;
    z-index: 30;
    min-width: 100px !important;
    background-color: #EDEEF0 !important;
    border-radius: 4px;
}

.sidebar_mobile-seek{
    background-color: #EDEEF0 !important;
    transition: left 1s ease;
    position: absolute;
    left:2px;
    display: block !important;
    height: 400px !important;
    z-index: 30;
    min-width: 100px !important;
    
    border-radius: 4px;
}

.fa-sync-alt{
    font-size: 12px;
}

.nav_item:hover{
    color: black !important;
}

.svg{
    font-size: 25px;
}   



.page_client-infoViewers{
    border: 1px solid #B2B2B2;
    border-radius: 8px;
    left: 0;
    top: 10px;
    width: 350px !important;
    height: 500px !important;
    background-color: white;
    z-index: 999;
    transition: left 1s ease;
}

.infoViewers-hide{
    left: -400px;
}
.infoViewers-visible{
    left: 0;
}
.hideBlock{
    font-size: 45px;
    position: sticky;
    top: 0;
    float: right;
}



.vk{
    background-color: #4A76A8 !important;
    color: white;
}

.fb{
    background-color: #4267B2;
    color: white;
}

.tg{
    color: white ;
    background-color: #0088cc ;
}

.channel_ic{
font-size: 25px;
}

.wa{
    background-color: #1EBEA5;
    color: white;
}

.vb{
    background-color: #8950A0 ;
    color: white;
}

.ok{
    background-color: #ed812b;
    color: white;
}


.hideEdit{
    position: absolute;
    left: calc(50% - 8px) ;
    
}

.field_item:hover .hideEdit{
    display: inline-block !important;
}   

.field_item:hover span{
    visibility: hidden;
} 

.channel_not-active{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;  
    background-color: red; 
}

.channel_active{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;  
    background-color: #8AC176; 
}

.message_text{
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

}

.chat_text{
font-size: 14px !important;

}

.chat_info-time{
    /* background-color: white; */
    width: 40px !important;
    right: 5px; 
    bottom: 18px;
    position: absolute;
    display: block;
    /* text-align: right; */
    /* width: 50px !important; */
}

.chat_active{
    background-color: rgba(0, 0, 0, .05);
}

.filter_btn{
    background-color: #e9ecef !important;  
    border: 1px solid #ced4da !important; 
}

.filter_max-height{
    max-height: 500px;
}

.filter_dropdown{
    
    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 5px;
    left: 0px;
    will-change: transform;
    z-index: 99;
    border: 1px solid #ced4da;
    /* border-top: 0px transparent */
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 100%;
}

.filter_dropdown-show__mobile{
    display: block;
}

.filter_dropdown-show{
    display: flex;
}

.filter_dropdown-hide{
    display: none;
}

.text_Decoration:hover{
    text-decoration: underline;
}

.chat_contact-edit{
    top: 0px;
    right: -20px;
}

.list-group-item{
    word-wrap: break-word;
}

span:hover > .cross{
    visibility: visible;
}

.cross{
    visibility: hidden;
    right:0px;
    top:0px;
}

.table_first-colone{
    width: 60px !important;
}

.channel_select{
    top: -50px;
    left: 15px;
}

.title_edit{
    position: absolute;
    right: 0;
}

.filter_badge{
    min-width: 80px !important;
    max-width: 200px !important;
}

.filter_card-item > i{
    align-self: center;
    margin-left: 15px;
}

.text-overflow{
    text-overflow: ellipsis;
}

.segments_item{
    max-width: 130px; overflow: hidden;  vertical-align: bottom;white-space: pre;
}

.filter_card-close{
    box-sizing: border-box;
    width: 30px ;
    text-align: center;
    vertical-align: middle ;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ced4da;
    top: -15px;
    right: -15px;
}

.filter_card-close > i{
    margin-top: 6px;
    z-index: 99;
}

.max-content-height{
    height: max-content;
}

/* .focus:focus{
    
} */

.focus{
    /* outline: none; */
    max-width: 300px;
    min-width: 120px;
    word-break: break-all;
    resize: none;
}