@import url('../assets/fonts/Ubuntu-Medium.ttf');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 350px;
    max-width: 1920px;
}

.logo{
    font-family: 'Press Start 2P', cursive;
}

.avatar_icon::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    display: block;
    bottom: 15px;
    left: 0px;
    width: 14px;
    height: 14px;
    background-color: #3284FF;
}

a:hover{
    
}